@font-face {
  font-family: 'icon-pi';
  src:  url('fonts/icon-pi.eot?t2ptc4');
  src:  url('fonts/icon-pi.eot?t2ptc4#iefix') format('embedded-opentype'),
    url('fonts/icon-pi.ttf?t2ptc4') format('truetype'),
    url('fonts/icon-pi.woff?t2ptc4') format('woff'),
    url('fonts/icon-pi.svg?t2ptc4#icon-pi') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-pi-"], [class*=" icon-pi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-pi' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pi-pencil:before {
  content: "\f040";
}
.icon-pi-responsabilities:before {
  content: "\e900";
  color: #4d4d4d;
}
.icon-pi-techstack:before {
  content: "\e901";
  color: #484848;
}
.icon-pi-achievements:before {
  content: "\e902";
}
