.navbar .collapse {
  display: block;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.20s ease-in;
  -moz-transition: max-height 0.20s ease-in;
  -o-transition: max-height 0.20s ease-in;
  transition: max-height 0.20s ease-in;
}

.navbar .collapse.in {
  max-height: 500px;
}

.navbar.dark:not(.navbar-color),
.navbar.dark:not(.navbar-color) .navbar-brand,
.navbar.dark:not(.navbar-color) .navbar-nav>li>a {
  color: #222;
}

.navbar.dark:not(.navbar-color) .navbar-nav>li>a:hover {
  color: #ef4836;
}