<section id="projects" class="section">

  <div class="container">

    <div class="row">

      <div class="col-md-12 headline wow bounceInDown">
        <h2>Projects</h2>
        <p>My Github profile.</p>
      </div>

      <div class="col-md-4 col-sm-6 wow bounceInLeft">
        <a href="http://www.cortesaragon.es" target="_blank">
          <div class="portfolio-item">
            <div class="portfolio-item-preview">
              <img src="assets/images/portfolio/cortes_aragon.jpg" alt="">
            </div>
            <div class="portfolio-item-description">
              <h3>Aragon Parliament</h3>
              <p>HTML / CSS / Javascript </p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6 wow bounceInUp">
        <a href="http://www.savills.co.uk" target="_blank">
          <div class="portfolio-item">
            <div class="portfolio-item-preview">
              <img src="assets/images/portfolio/savills.jpg" alt="">
            </div>
            <div class="portfolio-item-description">
              <h3>Savills</h3>
              <p>AngularJS / Web Api / Bootstrap</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6 wow bounceInRight">
        <a href="http://www.cityroommap.com" target="_blank">
          <div class="portfolio-item">
            <div class="portfolio-item-preview">
              <img src="assets/images/portfolio/cityroommap.jpg" alt="">
            </div>
            <div class="portfolio-item-description">
              <h3>City Room Map</h3>
              <h5>(Under construction)</h5>
              <p>AngularJS / Web Api / SASS</p>
            </div>
          </div>
        </a>
      </div>

    </div>

  </div>

</section>
